#dashboard {
  margin-top: 20px;
}
app-private-key {
  float: right;
  overflow: hidden;
}

app-contact-table {

}

app-generate-key {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
