#priv-key {
  text-align: right;
  margin-right: 120px;
  float: right;
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 160px;
  text-align: center;
  overflow: visible;
}

#priv-key:hover {
  cursor: pointer;
}
