<input [(ngModel)]="searchText" placeholder="Add contacts">
<table class="table table-hover">
  <thead>
   <th>#</th>
   <th>Username</th>
   <th>Public Key</th>
   <th>Write a Msg</th>
 </thead>
 <tbody>
   <tr *ngFor="let c of contacts; let i = index">
     <td>
       {{i + 1}}
     </td>
     <td>
       {{c.username}}
     </td>
     <td>
       <p class="truncate">{{c.public_key}}</p>
     </td>
     <td>
       <app-encrypt-message></app-encrypt-message>
     </td>
   </tr>
 </tbody>
</table>
